<!-- <h4>One-way Data Binding</h4> -->
<h4>Two-way Data Binding</h4>
<label>Server Name:</label>
<!-- <input
    type="tex"
    class="form-control"
    (input) = "onUpdateServerName($event)"
    > -->
<input
    type="tex"
    class="form-control"
    [(ngModel)] = "serverName"
    >    
<p> {{ serverName }} </p>
<button class="btn btn-primary" 
        [disabled]="!allowNewServer"
        (click) = "onServerCreation()">Add Server</button>

<p *ngIf="serverCreated; else noServer"> {{ serverCreateStatus }} </p>
<ng-template #noServer>
    <p>Server does not exist, click Add Server</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>