<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to the Angular Tutorial</h2>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="app-servers"></div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>::Assignments::</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Assignment 1:</h4>
      <app-assignment1></app-assignment1>
    </div>
  </div>
</div>



