<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to the Angular Tutorial</h2>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="app-servers"></div> -->
      <!-- <app-databinding></app-databinding> -->
      <!-- <app-directives></app-directives> -->
      <app-services></app-services>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>::Assignments::</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Assignment 5:</h4>
      <app-assignment5></app-assignment5>
    </div>
  </div>
</div>



